<div class="home-banner">
    <h2>Welcome to barr</h2>
    <p>
      <span id="banner-typed-text"></span>
    </p>
    <button id="sweet-alert-demo" class="btn btn-primary">Click me!</button>
    <%= select_tag "timezone", options_from_collection_for_select(
          ActiveSupport::TimeZone.all.
          map { |tz| tz.tzinfo }.
          sort_by { |tzinfo| tzinfo.name },
          :name, :name),
          class: 'select2' %>
  <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
</div>
  <div class="container">
    <div class="row">
      <%= render 'shared/card' %>
    </div>
  </div>
<%= link_to "new cocktail", new_cocktail_path,  class: "btn btn-primary" %>

  <%=100.times do %>
   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur qui, eos odio ex quia dicta ducimus officia eaque pariatur sapiente, mollitia cum, dolores dignissimos magni. Quia quisquam aut unde  </p>
   <% end %>






